dataset_name: main
dataset_path: gsm8k
doc_to_target: '{{answer.split(''####'')[-1].strip() if answer is defined else target}}'
doc_to_text: "Given a problem and a set of solutions, reason through it and provide a new solution. The new solution may result in the same answer, but it must be different from the ones already provided.\n\nProblem: {{question}}\n\nExisting solutions:\n{{solutions}}\n\nUse exactly this format (no extra text):\n<New Solution> [Your reasoning should go here]. The answer is [answer]. </New Solution>"
filter_list:
- filter:
  - function: regex
    group_select: -1
    regex_pattern: The answer is ((-?[$0-9.,]{2,})|(-?[0-9]+))
  - function: take_first
  name: strict-match
- filter:
  - function: regex
    group_select: -1
    regex_pattern: (-?[$0-9.,]{2,})|(-?[0-9]+)
  - function: take_first
  name: flexible-extract
generation_kwargs:
  do_sample: false
  until:
  - '<|eot_id|>'
  - '<|start_header_id|>user<|end_header_id|>'
  - 'Q:'
  - </s>
  - <|im_end|>
  - </New Solution>
tag:
- chain_of_thought
metadata:
  version: 3.0
metric_list:
- aggregation: mean
  higher_is_better: true
  ignore_case: true
  ignore_punctuation: false
  metric: exact_match
  regexes_to_ignore:
  - ','
  - \$
  - '(?s).*#### '
  - \.$
num_fewshot: 0
output_type: generate_until
repeats: 1
task: gsm8k_cot_llama_with_mult_prompt_1example
test_split: test